@page
@model SVUStudent.Pages.Apply_examinationModel
@{
    ViewData["Title"] = "Fee";
}

      <div class="main-content">
       <section class="section">
           <div class="section-body">
                <div class="section-title"> ONLINE EXAMINATION APPLICATION FORM </div>
                  <div class="image-card mt-6">
		  	        <div class=" profile-widget  mx-auto d-block">
			          <div class="profile-widget-header justify-content-center align-items-center d-flex profile-image">
                            <img alt="image" src="~/img/news/A190010450001.jpg" class="rounded-circle profile-widget-picture image-width m-0 mb-2">
                      </div>
				      <h3 class="d-block justify-content-center align-items-center text-name d-flex mb-3 mt-5">D LEELA PRIYA</h3>
			        </div>
		          </div>  
                   <div class="invoice position-relative pt-0">
                       <div class="cinvoice-print">
                           <div class="row">
						    <div class="col-md-12">
							  <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4"> Admission No. </label>
                                    <label class="form-control"> A190010450001 </label>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4">Student Name</label>
                                    <label class="form-control"> D LEELA PRIYA </label>
                                  </div>
                              </div>
							  <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">Mobile No.</label>
                                    <label class="form-control"> 7569557589 </label>
                                  </div>
                                  <div class="form-group col-md-3">
                                    <label for="inputState">Course</label>
                                    <label class="form-control"> B.Sc (MECs) </label>
                                  </div>
                                  <div class="form-group col-md-3">
                                    <label for="inputState">Year</label>
                                    <label class="form-control"> 2nd Year </label>
                                  </div>
                              </div>
						    </div>
                          </div>
                       </div>
                   </div> 

                    <div class="row">

                        <div class="col-md-12 ">
                          <div class="card">
                             <div class="card-body">
                                 <div class="table-responsive">
                                        <table class="table table-striped" id="table-2">
                                            <thead>
                                                <tr>
                                                    <th> <label> Course </label> </th>
                                                    <th> <label> Year </label> </th>
                                                    <th> <label> Apply </label> </th>
                                                    <th> <label> Download </label> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> Bachelor of Arts - B.A (HEP) </td>
                                                    <td> 1st Year </td>
                                                    <td> <a href="#" class="btn btn-primary" data-toggle="collapse"
                                                            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                            <i class="fa-solid fa-file-circle-plus"></i> Apply Examination </a> </td>
                                                    <td> <a href="#" class="btn btn-primary"> <i class="fa-solid fa-download"></i> Download Application </a> </td>
                                                </tr>
                                                <tr>
                                                    <td> Bachelor of Arts - B.A (HEP) </td>
                                                    <td> 2nd Year </td>
                                                    <td> <a href="#" class="btn btn-primary" data-toggle="collapse"
                                                            data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                                            <i class="fa-solid fa-file-circle-plus"></i> Apply Examination </a> </td>
                                                    <td> <a href="#" class="btn btn-primary"> <i class="fa-solid fa-download"></i> Download Application </a> </td>
                                                </tr>
                                                <tr>
                                                    <td> Bachelor of Arts - B.A (HEP) </td>
                                                    <td> 3rd Year </td>
                                                    <td> <a href="#" class="btn btn-primary" data-toggle="collapse"
                                                            data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                                            <i class="fa-solid fa-file-circle-plus"></i> Apply Examination </a> </td>
                                                    <td> <a href="#" class="btn btn-primary"> <i class="fa-solid fa-download"></i> Download Application </a> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                             </div>
                           </div>
                        </div>

                    </div>

                    <div class="row collapse" id="collapseExample">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4> PAPER DETAILS for B.A (HEP) - First Year </h4>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-2">
                                            <thead>
                                                <tr>
                                                    <th> <label> # </label> </th>
                                                    <th> <label> QP Code </label> </th>
                                                    <th> <label> Paper Type </label> </th>
                                                    <th> <label> Title of the Paper </label> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-18 </td>
                                                    <td> Paper II </td>
                                                    <td> Paper-II Ancient and Modern Poetry, Grammar and Composition (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-352 </td>
                                                    <td> Paper III </td>
                                                    <td> Paper-II, Introduction to Computers (who do not have computer paper as one of the core subjects, w.e.f.2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-4  </td>
                                                    <td> Paper I </td>
                                                    <td> Paper-II Prose, Poetry and Non - detailed Text (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-56  </td>
                                                    <td> Paper IV </td>
                                                    <td> Paper-II, History &Culture of India 1526-1950 (w.e.f 2010-11) </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input mt-2" >
                                        <p>I hereby declare that the particulars given above are correct. In case they are found to be incorrect at a later date, I submit myself for any disciplinary action
                                            including removal from the rolls. I also agree to abide by the conditions, rules and regulations stipulated by the Directorate of Distance Education.</p>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <div>
                                            <label class="form-check-label text-size" for="exampleCheck1"> No of Papers Selected : 5 </label>
                                            <label class="form-check-label text-size ml-3" for="exampleCheck1"> Total Amount of Fee : ₹ 1500 </label>
                                        </div>   
                                        <div class="float-right">
                                            <a href="#" class="btn btn-primary text-end disabled"> <i class="fa-solid fa-credit-card"></i> Payment
                                            </a>
                                        </div> 
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row collapse" id="collapseExample1">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4> PAPER DETAILS for B.A (HEP) - Second Year </h4>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-2">
                                            <thead>
                                                <tr>
                                                    <th> <label> # </label> </th>
                                                    <th> <label> QP Code </label> </th>
                                                    <th> <label> Paper Type </label> </th>
                                                    <th> <label> Title of the Paper </label> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-18 </td>
                                                    <td> Paper II </td>
                                                    <td> Paper-II Ancient and Modern Poetry, Grammar and Composition (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-352 </td>
                                                    <td> Paper III </td>
                                                    <td> Paper-II, Introduction to Computers (who do not have computer paper as one of the core subjects, w.e.f.2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-4  </td>
                                                    <td> Paper I </td>
                                                    <td> Paper-II Prose, Poetry and Non - detailed Text (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-56  </td>
                                                    <td> Paper IV </td>
                                                    <td> Paper-II, History &Culture of India 1526-1950 (w.e.f 2010-11) </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input mt-2" >
                                        <p>I hereby declare that the particulars given above are correct. In case they are found to be incorrect at a later date, I submit myself for any disciplinary action
                                            including removal from the rolls. I also agree to abide by the conditions, rules and regulations stipulated by the Directorate of Distance Education.</p>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <div>
                                            <label class="form-check-label text-size" for="exampleCheck1"> No of Papers Selected : 5 </label>
                                            <label class="form-check-label text-size ml-3" for="exampleCheck1"> Total Amount of Fee : ₹ 1500 </label>
                                        </div>   
                                        <div class="float-right">
                                            <a href="#" class="btn btn-primary text-end disabled"> <i class="fa-solid fa-credit-card"></i> Payment
                                            </a>
                                        </div> 
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
            
                    <div class="row collapse" id="collapseExample2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4> PAPER DETAILS for B.A (HEP) - Third Year </h4>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-2">
                                            <thead>
                                                <tr>
                                                    <th> <label> # </label> </th>
                                                    <th> <label> QP Code </label> </th>
                                                    <th> <label> Paper Type </label> </th>
                                                    <th> <label> Title of the Paper </label> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-18 </td>
                                                    <td> Paper II </td>
                                                    <td> Paper-II Ancient and Modern Poetry, Grammar and Composition (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-352 </td>
                                                    <td> Paper III </td>
                                                    <td> Paper-II, Introduction to Computers (who do not have computer paper as one of the core subjects, w.e.f.2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-4  </td>
                                                    <td> Paper I </td>
                                                    <td> Paper-II Prose, Poetry and Non - detailed Text (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-56  </td>
                                                    <td> Paper IV </td>
                                                    <td> Paper-II, History &Culture of India 1526-1950 (w.e.f 2010-11) </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input mt-2" >
                                        <p>I hereby declare that the particulars given above are correct. In case they are found to be incorrect at a later date, I submit myself for any disciplinary action
                                            including removal from the rolls. I also agree to abide by the conditions, rules and regulations stipulated by the Directorate of Distance Education.</p>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <div>
                                            <label class="form-check-label text-size" for="exampleCheck1"> No of Papers Selected : 5 </label>
                                            <label class="form-check-label text-size ml-3" for="exampleCheck1"> Total Amount of Fee : ₹ 1500 </label>
                                        </div>   
                                        <div class="float-right">
                                            <a href="#" class="btn btn-primary text-end disabled"> <i class="fa-solid fa-credit-card"></i> Payment
                                            </a>
                                        </div> 
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

            </div>

       </section>
    </div>