@page
@model SVUStudent.Pages.Apply_examinationModel
@{
    ViewData["Title"] = "Fee";
}

      <div class="main-content">
       <section class="section">
           <div class="section-body">
                <div class="section-title"> ONLINE EXAMINATION APPLICATION FORM </div>

                 <div class="row">

                    <div class="col-12 col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4> 1st Year </h4>
                            </div>
                            <div class="card-body">
                                <div class="empty-state" data-height="400" style="height: 400px;">
                                    <div class="empty-state-icon">
                                        <i class="fa-solid fa-book-open-reader"></i>
                                    </div>
                                    <h2> Course </h2>
                                    <p class="lead">
                                        Bachelor of Arts - B.A (HEP) MAR / APR 2022
                                    </p>
                                    <a href="#" class="btn btn-primary mt-4" data-toggle="collapse"
                                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="fa-solid fa-file-circle-plus"></i> Apply Examination </a>
                                    <a href="#" class="btn btn-primary mt-4"> <i class="fa-solid fa-download"></i> Download Application
                                         </a>
                                    <a class="mt-4 bb" data-toggle="tooltip" data-placement="right" title=""
                                        data-original-title="Please Apply the Examination Details">
                                        Note </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4> 2nd Year </h4>
                            </div>
                            <div class="card-body">
                                <div class="empty-state" data-height="400" style="height: 400px;">
                                    <div class="empty-state-icon">
                                        <i class="fa-solid fa-book-open-reader"></i>
                                    </div>
                                    <h2> Course </h2>
                                    <p class="lead">
                                        Bachelor of Arts - B.A (HEP) MAR / APR 2022
                                    </p>
                                    <a href="#" class="btn btn-primary mt-4" data-toggle="collapse"
                                        data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"> 
                                        <i class="fa-solid fa-file-circle-plus "></i> Apply Examination   </a>
                                    <a href="#" class="btn btn-primary mt-4"> <i class="fa-solid fa-download"></i> Download Application
                                         </a>
                                    <a class="mt-4 bb" data-toggle="tooltip" data-placement="right" title=""
                                        data-original-title="Please Apply the Examination Details">
                                        Note </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4> 3rd Year </h4>
                            </div>
                            <div class="card-body">
                                <div class="empty-state" data-height="400" style="height: 400px;">
                                    <div class="empty-state-icon">
                                        <i class="fa-solid fa-book-open-reader"></i>
                                    </div>
                                    <h2> Course </h2>
                                    <p class="lead">
                                        Bachelor of Arts - B.A (HEP) MAR / APR 2022
                                    </p>
                                    <a href="#" class="btn btn-primary mt-4" data-toggle="collapse"
                                        data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                       <i class="fa-solid fa-file-circle-plus"></i> Apply Examination </a>
                                    <a href="#" class="btn btn-primary mt-4"> <i class="fa-solid fa-download"></i> Download Application
                                         </a>
                                    <a class="mt-4 bb" data-toggle="tooltip" data-placement="right" title=""
                                        data-original-title="Please Apply the Examination Details">
                                        Note </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    </div>

                    <div class="row collapse" id="collapseExample">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4> PAPER DETAILS for B.A (HEP) - First Year </h4>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-2">
                                            <thead>
                                                <tr>
                                                    <th> <label> # </label> </th>
                                                    <th> <label> QP Code </label> </th>
                                                    <th> <label> Paper Type </label> </th>
                                                    <th> <label> Title of the Paper </label> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-18 </td>
                                                    <td> Paper II </td>
                                                    <td> Paper-II Ancient and Modern Poetry, Grammar and Composition (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-352 </td>
                                                    <td> Paper III </td>
                                                    <td> Paper-II, Introduction to Computers (who do not have computer paper as one of the core subjects, w.e.f.2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-4  </td>
                                                    <td> Paper I </td>
                                                    <td> Paper-II Prose, Poetry and Non - detailed Text (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-56  </td>
                                                    <td> Paper IV </td>
                                                    <td> Paper-II, History &Culture of India 1526-1950 (w.e.f 2010-11) </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input mt-2" >
                                        <p>I hereby declare that the particulars given above are correct. In case they are found to be incorrect at a later date, I submit myself for any disciplinary action
                                            including removal from the rolls. I also agree to abide by the conditions, rules and regulations stipulated by the Directorate of Distance Education.</p>
                                        <label class="form-check-label text-size" for="exampleCheck1"> Total Amount of Fee : ₹ 1500 </label>
                                        <div class="float-right">
                                            <a href="#" class="btn btn-primary mt-4 text-end disabled"> <i class="fa-solid fa-credit-card"></i> Payment
                                         </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row collapse" id="collapseExample1">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4> PAPER DETAILS for B.A (HEP) - Second Year </h4>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-2">
                                            <thead>
                                                <tr>
                                                    <th> <label> # </label> </th>
                                                    <th> <label> QP Code </label> </th>
                                                    <th> <label> Paper Type </label> </th>
                                                    <th> <label> Title of the Paper </label> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-18 </td>
                                                    <td> Paper II </td>
                                                    <td> Paper-II Ancient and Modern Poetry, Grammar and Composition (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-352 </td>
                                                    <td> Paper III </td>
                                                    <td> Paper-II, Introduction to Computers (who do not have computer paper as one of the core subjects, w.e.f.2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-4  </td>
                                                    <td> Paper I </td>
                                                    <td> Paper-II Prose, Poetry and Non - detailed Text (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-56  </td>
                                                    <td> Paper IV </td>
                                                    <td> Paper-II, History &Culture of India 1526-1950 (w.e.f 2010-11) </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input mt-2" >
                                        <p>I hereby declare that the particulars given above are correct. In case they are found to be incorrect at a later date, I submit myself for any disciplinary action
                                            including removal from the rolls. I also agree to abide by the conditions, rules and regulations stipulated by the Directorate of Distance Education.</p>
                                        <label class="form-check-label text-size" for="exampleCheck1"> Total Amount of Fee : ₹ 1500 </label>
                                        <div class="float-right">
                                            <a href="#" class="btn btn-primary mt-4 text-end disabled"> <i class="fa-solid fa-credit-card"></i> Payment
                                         </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
            
                    <div class="row collapse" id="collapseExample2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4> PAPER DETAILS for B.A (HEP) - Third Year </h4>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-2">
                                            <thead>
                                                <tr>
                                                    <th> <label> # </label> </th>
                                                    <th> <label> QP Code </label> </th>
                                                    <th> <label> Paper Type </label> </th>
                                                    <th> <label> Title of the Paper </label> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-18 </td>
                                                    <td> Paper II </td>
                                                    <td> Paper-II Ancient and Modern Poetry, Grammar and Composition (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-352 </td>
                                                    <td> Paper III </td>
                                                    <td> Paper-II, Introduction to Computers (who do not have computer paper as one of the core subjects, w.e.f.2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-4  </td>
                                                    <td> Paper I </td>
                                                    <td> Paper-II Prose, Poetry and Non - detailed Text (w.e.f. 2010-11) </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td> DDE-56  </td>
                                                    <td> Paper IV </td>
                                                    <td> Paper-II, History &Culture of India 1526-1950 (w.e.f 2010-11) </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input mt-2" >
                                        <p>I hereby declare that the particulars given above are correct. In case they are found to be incorrect at a later date, I submit myself for any disciplinary action
                                            including removal from the rolls. I also agree to abide by the conditions, rules and regulations stipulated by the Directorate of Distance Education.</p>
                                        <label class="form-check-label text-size" for="exampleCheck1"> Total Amount of Fee : ₹ 1500 </label>
                                        <div class="float-right">
                                            <a href="#" class="btn btn-primary mt-4 text-end disabled"> <i class="fa-solid fa-credit-card"></i> Payment
                                         </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

            </div>

       </section>
    </div>