@page
@model SVUStudent.Pages.Forgot_passwordModel
@{
    ViewData["Title"] = "Forgot-Password";
    Layout = "_CommonLayout";
}

        <div class="row">
 
          <div class="col-12 col-sm-8 col-md-6  col-lg-6  col-xl-4 m-auto ">

            <div class="card card-primary">
              <div class="login-brand">
                <img src="~/img/brand/logo-t.png" alt="logo" width="250">
                </div>

              <div class="card-body">
                <form method="POST" action="#" class="needs-validation" novalidate="">

                  <div class="form-group">
                    <div class="d-block">
                    	<label for="Email" class="control-label">Email Id</label>
                        <input id="Email" type="Email" class="form-control" name="Email" tabindex="2" required="" autofocus="">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Continue <i class="fa-solid fa-arrow-right"></i>
                    </button>
                  </div>
                  <div class="simple-footer">
                      Copyright © Avia Technologies
                  </div>
                </form>
                

              </div>
            </div>
          </div>
        </div>