@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


        <div class="alert1">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Success!</strong> Successfully Submited...
        </div>

        <div class="alert2">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Warning!</strong> This is a Warning alert!
        </div>

        <div class="alert3">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Information!</strong> Details should be filled.
        </div>

        <div class="alert4">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Error!</strong> Oop's something went Wrong..!!
        </div>

        <div class="main-content">
          <section class="section">
            <div class="section-body">
                  <div class="container">
                    <div class="section-title"> Student Details </div>
                    <div class="tab-content"> 
                        <div class="table-responsive card">
                          <table class="table table-hover table-vcenter table-striped mb-0 text-nowrap">
                            <thead>
                              <tr>
                                <th>Roll No.</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Admission Date</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>A25</td>
                                <td class="w60"><img class="avatar" src="../img/news/5varunsivaram.webp" alt=""></td>
                                <td><span class="font-16">Ken Smith</span></td>
                                <td>Science</td>
                                <td>ken@gmail.com</td>
                                <td>(417) 646-7483</td>
                                <td>04 Jan, 2019</td>
                                <td><button type="button" id="myButton" class="btn btn-icon btn-sm btn-dark" data-toggle="tooltip" data-placement="top" title="" data-original-title="Fee Payment"><i class="fas fa-credit-card"></i> Fee Payment</button>
                                </td>
                              </tr>
                    
                            </tbody>
                          </table>
                        </div>

             <div class="card">
                <div class="card-body">    
				        <p style="color:red;"><b>Note:</b>&nbsp; If the payment transaction is pending after the money is deducted from your bank account, please wait for 24 hrs. If the transaction shows as failure and still the money is NOT yet reverted to your bank account EVEN AFTER 24 HRS by your bank, then please MAKE A PAYMENT ONCE AGAIN. The money debited previously will be automatically refunded to your bank account. So kindly, do not make multiple payments before you check the payment confirmation status.</p>
				
				        <ul><li>Your application status is shown in this page.</li><li>After successful submission of online application, Application ID will be generated.</li><li>Before submitting the application, you can edit your details in the application or delete the application. In case if you delete the application, you have to apply again. </li><li>You cannot edit or delete your application after generation of Application ID.</li></ul>
              
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </section>
        </div>


   <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "Fee";
    };
    </script>
