@page
@model SVUStudent.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<main id="app">
    <div class="main-wrapper container">
       <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4><i class="fa-solid fa-user-tie"></i> Student Profile </h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-4">
                        <ul class="nav nav-pills flex-column" id="myTab4" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active mt-2 mb-2" id="home-tab4" data-toggle="tab" href="#home4" role="tab"
                              aria-controls="home" aria-selected="true"> <i class="fa-solid fa-lock"></i> Change Password</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link mt-2 mb-2" id="profile-tab4" data-toggle="tab" href="#profile4" role="tab"
                              aria-controls="profile" aria-selected="false"> <i class="fa-solid fa-envelope-open-text"></i> Email Change</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link mt-2 mb-2" id="contact-tab4" data-toggle="tab" href="#contact4" role="tab"
                              aria-controls="contact" aria-selected="false"> <i class="fa-solid fa-mobile-screen-button"></i> Change Mobile Number </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-12 col-sm-12 col-md-8">
                        <div class="tab-content no-padding" id="myTab2Content">
                          <div class="tab-pane fade show active" id="home4" role="tabpanel" aria-labelledby="home-tab4">
                            <form>
                              <div class="form-group">
                                <label>Current Password</label>
                                <input type="text" class="form-control" required="">
                              </div>
                              <div class="form-group">
                                <label>New Password</label>
                                <input type="email" class="form-control" required="">
                              </div>
                              <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="email" class="form-control">
                              </div>
                              <button class="btn btn-primary mt-2">Update Password</button>
                            </form>
                          </div>
                          <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab4">
                            <form>
                              <div class="form-group">
                                <label>Old Email Id</label>
                                <input type="text" class="form-control" required="">
                              </div>
                              <div class="form-group">
                                <label>New Email Id</label>
                                <input type="email" class="form-control" required="">
                              </div>
                              <button class="btn btn-primary mt-2">Update Email Id</button>
                            </form>
                          </div>
                          <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab4">
                            <form>
                              <div class="form-group">
                                <label>Old Mobile</label>
                                <input type="text" class="form-control" required="">
                              </div>
                              <div class="form-group">
                                <label>New Mobile Number</label>
                                <input type="email" class="form-control" required="">
                              </div>
                              <button class="btn btn-primary mt-2">Update Mobile Number</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
</main>